* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;

  padding: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  /* font-style:; */
}

label {
  display: block;
  margin-bottom: 5px;
}

form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0px 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
form div {
  position: relative;
  margin-bottom: 16px;
}
form div i {
  position: absolute;
  padding: 10px;
}
.failure-icon,
.success-icon {
  right: 0px;
  opacity: 0;
}
.success-icon {
  color: green;
}
.failure-icon,
.error {
  color: red;
}
.error {
  font-size: 14.5px;
  margin-top: 1px;
}

#btn {
  width: 100%;
  height: 35px;
  margin-top: 2px;
  padding: 0.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(247, 160, 144);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#btn:hover {
  opacity: 0.8;
}

input:focus {
  border: 2px solid rgb(247, 160, 144);
}

.btn {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.btn-1,
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid gray;
  padding: 2px 5px;
  gap: 15px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(247, 160, 144);
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);
}
.btn-2 {
  color: white;
  background-color: #4f70b5;
}

.or {
  text-align: center;
  font-size: larger;
}
